header{
    width: 100%;
    height: 80vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 720px){
        background-image: url(../images/mobile/image-header.jpg);
    }

    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 44px 0;

        position: relative;

        ul{
            display: flex;
            align-items: center;

            @media (max-width: 720px){
                width: 90%;
                height: 308px;
                display: none;
                flex-direction: column;
                justify-content: space-evenly;
                background-color: $White;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
            }
            
            li{
                padding: 0 30px;
                @media (max-width: 830px){
                      padding: 0 20px;
                }
                a{
                    color: $White;
                    
                    @media (max-width: 720px){
                        color: $dark-grayish-blue;
                    }
                }
                &:last-child{
                    padding-right: 0;
                    @media (max-width: 720px){
                        padding-right: 20px;
                    }
                }
            }
            .btn{
                background-color: $White;
                color: $very-dark-desaturated-blue;
                font-family: $fraunces;
                padding: 12px 22px;
                border-radius: 30px;
                transition: all 0.3s ease-in-out;

                @media (max-width: 720px){
                    background-color: $yellow;
                }

                &:hover{
                    background-color: #74CCFF;
                    color: $White;
                }
            }
        }
        .hamburger-menu{
            display: none;
            cursor: pointer;

            @media (max-width: 720px){
                display: block;
            }
        }
    }
    .main-title{
        display: flex;
        justify-content: center;
        margin-top: 86px;
        text-align: center;

        h1{
            text-transform: uppercase;
            font-size: 2.75rem; // 44px
            font-weight: $bolder;
            letter-spacing: 8px;
            color: $White;

            @media (max-width: 830px){
                max-width: 346px;
             }
            @media (max-width: 550px){
               font-size: 31px;
            }
        }
    }
    .arrow{
        display: flex;
        justify-content: center;
        margin-top: 55px;
        animation-name: arrowDown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: 550px){
            margin-top: 90px;
         }
    }
}

@keyframes arrowDown {
    from {margin-top: 3px;}
    to {margin-bottom: 20px;}
  }
// class
.displayMenu{
    display: flex !important;
}